<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.tagline }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/harmonyos-sans/css/harmonyos_sans.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/harmonyos-sans/css/harmonyos_sans_sc.css">
  <link rel="stylesheet" href="/public/css/main.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
